<div class="page-header">
  <h1>
    Workvents
    <a href="/workvents/new" class="btn btn-lg btn-success">New Workvent</a>
    <a href="/workpersonal" class="btn btn-lg btn-success">See Personal Vents</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Work topic</th>
        <th>Urgency</th>
        <th>Story</th>
        <th></th>
      </tr>

      <% @workvents.each do |workvent| %>
      <tr>
        <td><%= workvent.work_topic %></td>
        <td><%= workvent.urgency %></td>
        <td><%= workvent.story %></td>
        <td>
          <a href="/workvents/<%= workvent.id %>" class="btn btn-primary">Show</a>
        </td>
          <!-- <a href="/workvents/<%= workvent.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_workvent/<%= workvent.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td> -->
      </tr>
      <% end %>
    </table>
  </div>
</div>
