<!-- Validation failure messages -->
<% if @worklift.errors.any? %>
  <% @worklift.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Worklift #<%= @worklift.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_worklift/<%= @worklift.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @worklift.user_id %>">
      </div>

      <!-- Label and input for workvent_id -->
      <div class="form-group">
        <label for="workvent_id" class="control-label">
          Workvent
        </label>

        <input type="text" id="workvent_id" name="workvent_id" placeholder="Workvent" class="form-control" value="<%= @worklift.workvent_id %>">
      </div>

      <!-- Label and input for support -->
      <div class="form-group">
        <label for="support" class="control-label">
          Support
        </label>

        <textarea id="support" name="support" placeholder="Support" class="form-control" rows="3"><%= @worklift.support %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Worklift
      </button>
      or
      <a href="/worklifts/<%= @worklift.id %>">Cancel</a>
    </form>
  </div>
</div>
