<!-- Validation failure messages -->
<% if @otherlift.errors.any? %>
  <% @otherlift.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Otherlift</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_otherlift" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @otherlift.user_id %>">
      </div>

      <!-- Label and input for othervent_id -->
      <div class="form-group">
        <label for="othervent_id" class="control-label">
          Othervent
        </label>

        <input type="text" id="othervent_id" name="othervent_id" placeholder="Othervent" class="form-control" value="<%= @otherlift.othervent_id %>">
      </div>

      <!-- Label and input for support -->
      <div class="form-group">
        <label for="support" class="control-label">
          Support
        </label>

        <textarea id="support" name="support" placeholder="Support" class="form-control" rows="3"><%= @otherlift.support %></textarea>
      </div>

      <button class="btn btn-success">
        Create Otherlift
      </button>
      or
      <a href="/otherlifts">Cancel</a>
    </form>
  </div>
</div>
