<div class="page-header">
  <h3>Otherlift #<%= @otherlift.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @otherlift.user_id %></dd>

      <dt>Othervent</dt>
      <dd><%= @otherlift.othervent_id %></dd>

      <dt>Support</dt>
      <dd><%= @otherlift.support %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/otherlifts" class="btn btn-primary">
        Back
      </a>
      <a href="/otherlifts/<%= @otherlift.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_otherlift/<%= @otherlift.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
