<div class="page-header">
  <h1>
    Lifevents
    <a href="/lifevents/new" class="btn btn-lg btn-success">New Lifevent</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Life topic</th>
        <th>Urgency</th>
        <th>Story</th>
        <th>Reply</th>
        <th><
      </tr>

      <% @lifevents.each do |lifevent| %>
      <tr>
        <td><%= lifevent.life_topic %></td>
        <td><%= lifevent.urgency %></td>
        <td><%= lifevent.story %></td>
        <td>
          <a href="/responses/new" class="glyphicon glyphicon-heart-empty"></a>
        </td>
        <td>
        <a href="/lifevents/<%= lifevent.id %>" class="btn btn-primary">Show</a>
        </td>

        <!-- <td>
          <a href="/lifevents/<%= lifevent.id %>" class="btn btn-primary">Show</a>
          <a href="/lifevents/<%= lifevent.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_lifevent/<%= lifevent.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td> -->
      </tr>
      <% end %>
    </table>
  </div>
</div>
