<!-- Validation failure messages -->
<% if @relationshipvent.errors.any? %>
  <% @relationshipvent.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Relationshipvent</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_relationshipvent" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <input name="user_id" type="hidden" value="<%= current_user.id %>">

      <!-- Label and input for relationship_topic -->
      <div class="form-group">
        <label for="relationship_topic" class="control-label">
          Relationship topic
        </label>

        <input type="text" id="relationship_topic" name="relationship_topic" placeholder="Relationship topic" class="form-control" value="<%= @relationshipvent.relationship_topic %>">
      </div>

      <!-- Label and input for urgency -->
      <div class="form-group">
        <label for="urgency" class="control-label">
          Urgency:
        </label>

  <select name="urgency">
  <option value="1"selected>1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
    </div>

      <!-- Label and input for story -->
      <div class="form-group">
        <label for="story" class="control-label">
          Story
        </label>

        <textarea id="story" name="story" placeholder="Story" class="form-control" rows="3"><%= @relationshipvent.story %></textarea>
      </div>

      <button class="btn btn-success">
        Create Relationship Vent
      </button>
      or
      <a href="/relationshipvents">Cancel</a>
    </form>
  </div>
</div>
