<div class="page-header">
  <h1>
    Relationshipvents by <%= current_user.email %>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Relationship topic</th>
        <th>Urgency</th>
        <th>Story</th>
        <th></th>
      </tr>

      <% @relationshipvents.each do |relationshipvent| %>

      <% if relationshipvent.user_id.to_i == current_user.id.to_i %>
      <tr>
        <td><%= relationshipvent.relationship_topic %></td>
        <td><%= relationshipvent.urgency %></td>
        <td><%= relationshipvent.story %></td>
        <td>
          <a href="/relationshipvents/<%= relationshipvent.id %>" class="btn btn-primary">Show</a>
        </td>
          <!-- <a href="/relationshipvents/<%= relationshipvent.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_relationshipvent/<%= relationshipvent.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td> -->
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
