<div class="page-header">
  <h3>Relationshipvent #<%= @relationshipvent.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Relationship topic</dt>
      <dd><%= @relationshipvent.relationship_topic %></dd>

      <dt>Urgency</dt>
      <dd><%= @relationshipvent.urgency %></dd>

      <dt>Story</dt>
      <dd><%= @relationshipvent.story %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/relationshipvents" class="btn btn-primary">
        Back
      </a>
      <a href="/relationshipvents/<%= @relationshipvent.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_relationshipvent/<%= @relationshipvent.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
